<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sensor de movimiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Coordenadas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     
      <h1>X : {{ x }}</h1> 
      <h1>Y: {{ y }}</h1> 
      <h1>Z: {{ z }}</h1> 
      <h1>TimeStamp : {{ timeStamp }}</h1>

    </ion-card-content>
  </ion-card>
  <ion-button (click) = "start()">start</ion-button>
  <ion-button (click) = "stop()">stop</ion-button>

</ion-content>
